html{
  margin:0;
  max-width:100%;
  overflow-x:hidden;
}
html{
  position: relative;
  min-height:100%;
  overflow-y:scroll;
}
body{
  margin:0;
  min-width: 320px;
}
  .head{
    display: flex;
    flex-direction: row;
    height:150px;
    align-items: center;
    justify-content: center;
    background-color: red;
  }
    .logo{
      display: flex;
      flex:3;
      height:75px;
      margin-left:100px;
      align-items: center;
    }
    .nav{
      display:flex;
      flex-direction: row;
      flex:4;
      height:75px;
    }
      .but{
        display: flex;
        flex; 1;
        align-items: center;
        justify-content: center;
        flex: 1;
        background-color: green;
      }
  .content{
    position: relative;
    top:60vh;
    min-height:150px;
    background-color: blue;
  }
    .updates{}
    .server-staus{}
  .foot{}
